body {
  margin: 4rem 0;
}

.panel {
  border: 1px solid #000000;
  background-color: #c3c3c3;
  border-radius: 1em;
  padding: 1rem;
  margin-bottom: 1rem;
}

.draggable-elements {
  color: #fff;
}

.droppable-elements {
  color: #000;
}
