{% load static from staticfiles %}

<div class="field">
<section class="droppable-elements">
  <div class="row">
        {% for fs in ftext %}
        <div class="col-lg-6">
                <div class="panel droppable"><span>
        {% if fs == '1' %}
        Seed 1
        {% elif fs == '2' %}
        Seed 2
        {% elif fs == '3' %}
        Seed 3
        {% endif %}
                </span></div>
        </div>
        {% endfor %}
  </div>
</section>
<form action="{% url 'stopF' %}" method="POST">
        {% csrf_token %}
    <input type='submit' name='stop' value='Stop' onclick="return confirm('Stop?')">
</form>

