<form name="field" method="POST" action="{% url 'storeField' %}">
    {% csrf_token %}
    {% load static from staticfiles %}
    <script type="text/javascript">
        function check() {
            var fone = document.getElementById('fone').value;
            var ftwo = document.getElementById('ftwo').value;
            var fthree = document.getElementById('fthree').value;
            var ffour = document.getElementById('ffour').value;
            var ffive = document.getElementById('ffive').value;
            var fsix = document.getElementById('fsix').value;
            if (fone == "" || ftwo == "" || fthree == "" || ffour == "" || ffive == "" || fsix == "") {
                document.getElementById('Button').disabled = true;
            } else {
                    document.getElementById('Button').disabled = false;
            }
        }
        </script>
      
    <div class="container">
        <div class="row">
            <select name="fone" class="panel col-lg-6">
                <option value="" disabled selected>Field 1</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
            <select name="ftwo" class="panel col-lg-6">
                <option value="" disabled selected>Field 2</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
        </div>
        <div class="row">
            <select name="fthree" class="panel col-lg-6">
                <option value="" disabled selected>Field 3</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
            <select name="ffour" class="panel col-lg-6">
                <option value="" disabled selected>Field 4</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
        </div>
        <div class="row">
            <select name="ffive" class="panel col-lg-6">
                <option value="" disabled selected>Field 5</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
            <select name="fsix" class="panel col-lg-6">
                <option value="" disabled selected>Field 6</option>
                <option value="1">Crop 1</option>
                <option value="2">Crop 2</option>
                <option value="3">Crop 3</option>
            </select>
        </div>
    </div>
    
        <input type="submit" name="submit" value="Start" id="Button" onmouseover="check()">
        </form>
      <script src='{% static "dragdrop.js" %}'></script>