{% include 'bs.html' %}
{% block content %}

<body>
    
  <div class="card" data-toggle="modal"  data-target=".camera" style="cursor: pointer;">
    <div class="card-body">
Open Camera
    </div>
  </div>

  <div class="modal fade camera" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="cam">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content" id="cam">
        <img src="http://{{ request.get_host }}/monitor">
      </div>
    </div>
  </div>
<div class="container text-center field">
  <div class="col-12 panel">
    <h4 id="sensor">
        {% include 'data.html' %}
    </h4>
  </div>
  {% if ftext == '0' %}
  {% include 'field_empty.html' %}
  {% else %}
  {% include 'field_done.html' %}
  {% endif %}
</div>

<div class="container text-center">
  <h4>Team Members</h4>
  <div class="card-deck field">
{% for members in team %}

    <div class="card" data-toggle="modal"  data-target=".team-modal-{{ members.roll }}" style="cursor: pointer;">
      <div class="card-body">
        <h4 class="card-title">{{ members.fname }}<br>{{ members.lname }}</h4>
        <span class="card-roll">{{ members.roll }}</span>
      </div>
    </div>

    <div class="modal fade team-modal-{{ members.roll }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
          <img class="card-img-top img-fluid img-thumbnail rounded-circle" src="media/{{ members.image }}" alt="{{ members.name }}">
          <div class="card-roll">
            <b>Name:</b> {{ members.fname }} {{members.lname}}<br>
            <b>Roll No.:</b> {{members.roll}}<br>
            <b>Contact No.:</b> {{members.contact}}<br>
            <b>Email Address:</b><br><a href="mailto:{{members.email}}">{{members.email}}</a><br>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

</div>
</div>

{% endblock %}