{% include 'bs.html' %}
{% block content %}

<body>
  <header>
  <nav class="navbar navbarextend-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{ project }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
  </nav>
</header>

<div class="container text-center field">
  <div class="col-12 panel">
    <h4 id="sensor">
        {% include 'data.html' %}
    </h4>
  </div>
  {% if ftext == '0' %}
  {% include 'field_empty.html' %}
  {% else %}
  {% include 'field_done.html' %}
  {% endif %}
</div>

<div class="container text-center">
  <h4>Team Members</h4>
  <div class="card-deck field">
{% for members in team %}

    <div class="card">
      <img class="card-img-top img-fluid team img-thumbnail rounded-circle" src="media/{{ members.image }}" alt="{{ members.name }}">
      <div class="card-body">
        <h4 class="card-title">{{ members.fname }}<br>{{ members.lname }}</h4>
        <span class="card-roll">{{ members.roll }}</span>
      </div>
    </div>

{% endfor %}

</div>
</div>

{% endblock %}